	/* add your CSS here */
	body{
		width: 350px;

	}

	img{
		width:300px;
		height: 200px;
	}

	.facts{
		font-style: italic;
	}
	h3{
		font-size: 30px;
	}

	span{
		font-weight: bold;
	}

	ul{
		list-style-type: none;
	}

	.details{
		padding: 20px;
		border:5px solid silver ;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
		text-align: justify;
	}

	.info{
		border:2px solid silver ;
		padding: 10px;
	}
