h1{
	font-size: 100px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;

}

#info{
	text-align: center;

}

label{
	margin-left: 10px;
	margin-right: 5px;
	clear: both;
	display:inline-block;
	vertical-align: middle;
}

.grid {
  position: relative;
  display: inline-block;
  height:700px;
  width: 700px;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 10%;
  


}
.grid-table{
  border-collapse: collapse;
  position: absolute;

  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  
  

}

.grid table td {
  border:3px solid black;
  vertical-align: center;
}
